* {
  font-size: 18px;
}
body {
  margin-bottom: 110px;
}
.btn {
  font-size: 15px;
}
.priority {
  padding: 7.5px 28px;
  pointer-events: none;
}
.status {
  display: block;
  width: 75px;
  pointer-events: none;
}
.task_search {
  font-size: 15px;
  margin-left: 10px;
}
.navbar {
  background-color: #563d7c;
}
.footer {
  background-color: #563d7c;
}
.footer_word {
  padding-top: 30px;
  vertical-align: middle;
  font-size: 10px;
}
.footer_wrapper {
  height: 58px;
  margin-top: 50px;
}
.form-control {
  font-size: 18px;
}
.form-group {
  font-size: 18px;
}
.vani_fla {
  opacity: 0.9;
  position: absolute;
}
.show_word {
  font-size: 20px;
}
.table {
  font-size: 18px;
}
.logo {
  font-size: 30px;
}
.apear {
  z-index: 10;
}

.expired_date {
  background-color: red;
  color: #fff;
}
